// main: ../style.less

.footer{
    background: url("../img/test.svg") no-repeat 0% 0%;
    background-size: 100%;


    @media @laptop{
        background: url("../img/test.svg") no-repeat 100% 100%;
        background-size: 100%;
    }
}

.footer_container{
    position: relative;
    min-height: 450px;


    @media @tablet{
        min-height: 240px;
    }
    @media @mobile-L{
        min-height: 140px;
    }
}

.footer_table{
    position: absolute;
    bottom: 20px;
    width: 100%;


    @media @mobile-L{
        bottom: 10px;
    }
}

.footer_logo{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    color: @color-white;
}

.footer_head{
    margin-bottom: 30px;

    font-size: 20px;
    font-weight: 400;
    color: @color-white;
}

.footer_stayintouch{
    margin-bottom: 25px;

    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: @color-white;



    @media @mobile-L{
        font-size: 15px;
        margin-bottom: 15px;
    }
    @media @mobile-S{
        font-size: 10px;
        margin-bottom: 5px;
    }
}

.footer_social{
    display: flex;
    justify-content: space-evenly;
}

.footer_social_item{
    transition: transform .3s ease-in-out;
    &:hover{
        transform: scale(1.5);
    }
}

.footer_ul{
    font-weight: 400;
    color: @color-white;
}

.footer_links{
    text-decoration: none;
    font-size: 16px;
    color: @color-white;

    transition: border-bottom .2s ease-in-out;
    &:hover{
        border-bottom: 1px solid @color-white;
    }
}

.footer_contacts{
    &:hover{
        .contacts_img{
            transition: transform .2s ease-in-out;
            transform: translateX(-5px);
        }
    }
}

.contacts_img{
    margin-right: 5px;
}

.contacts_text{
    
    border-bottom: 1px solid @color-white;

    transition: border-bottom .2s ease-in-out;
    &:hover{
        border-bottom:none;
    }

    &:active{
        color:@color-blue;
    }
}

.footer_none{
    @media @tablet{
        display: none;
    }
}