// main: ../style.less

.intro_block{ 
    display: flex;

    
    @media @mobile-L{
        text-align: center;
    }
}

.intro_content{
    padding-top: 90px;
    width: 50%;

    text-transform: uppercase;


    @media @mobile-L{
        width: 100%;
        padding-top: 20px;

        color: @color-white;
    }
}

.intro_img{
    width: 50%;


    @media @mobile-L{
        display: none;
    }
}

.intro_subtitle{
    font-size: 50px;


    @media @laptop{
        font-size: 30px;
    }
    @media @mobile-M{
        font-size: 20px;
    }
}

.intro_title{
    margin-bottom: 20px;

    font-size: 74px;
    font-weight: 700;
    line-height: 1;

    
    @media @laptop{
        font-size: 48px;
    }
    @media @mobile-L{
        font-size: 40px;
    }
    @media @mobile-M{
        font-size: 30px;
    }
}

.intro_text{
    font-weight: 300;


    @media @laptop{
        font-size: 14px;
    }
    @media @mobile-M{
        font-size: 12px;
    }
}

.btn_intro{
    margin-top: 20px;
}
